body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

button {
    width: 100px;
    height: 50px;
    font-size: 1.3em;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
    color: #141518;
    background-color: #d5dbe0;

}

p {
    font-size: 1.5em;
    line-height: 1.5em;
    
}